mkdocs                      >= 1.1.2
mkdocs-awesome-pages-plugin >= 2.5.0
mkdocs-exclude              >= 1.0.2
mkdocs-material             >= 6.1.6
mkdocs-material-extensions  >= 1.0.1
mkdocs-mermaid2-plugin      >= 0.5.1

pre-commit                  >= 2.15.0
